**__pycache__**
ckpts/
data/

work_dirs/
vis/
workspace

.vscode
*.ignore
*.onnx
*.engine
*.nsys-rep
*.tmp
*.log
*.pyc

**results**
spacedrive_plus_qwen/
spacedrive_plus_qwen_new_train/
spacedrive_qwen/
new_train/
spacedrive_plus_qwen_depth_skip/
dummy_images/
infer_*/