[submodule "unidepth"]
	path = unidepth
	url = https://github.com/zhenghao2519/UniDepth_py39.git
[submodule "mmdetection3d"]
	path = mmdetection3d
	url = https://github.com/open-mmlab/mmdetection3d.git
